<section class="desktop" id="contact">
  <div class="headline">
    <h1 class="fontAnta">{{ texts.headline[activeLang] }}</h1>
    <img (click)="scrollTo('landing')" src="assets/img/arrow_up.png" alt="" />
  </div>
  <div class="fontJosefin form-box">
    <div class="contact-info">
      <div class="contact-motive">
        <p>
          {{ texts.motive[activeLang] }}
        </p>
      </div>
      <div class="flex-16">
        <div
          class="contact-box"
          (mouseenter)="mailHover = true"
          (mouseleave)="mailHover = false"
        >
          <img
            class="contact-icon default"
            src="assets/img/contact_mail.png"
            [class.hidden]="mailHover"
          />
          <img
            class="contact-icon hover-img"
            src="assets/img/contact_mail_hover.png"
            [class.visible]="mailHover"
          />
          <a href="">E-Mail: davidhannemanndev&#64;gmail.com</a>
        </div>
        <div
          class="contact-box phone"
          (mouseenter)="phoneHover = true"
          (mouseleave)="phoneHover = false"
        >
          <img
            class="contact-icon default"
            src="assets/img/contact_phone.png"
            [class.hidden]="phoneHover"
          />
          <img
            class="contact-icon hover-img"
            src="assets/img/contact_phone_hover.png"
            [class.visible]="phoneHover"
          />
          <a href="">Tel: 0151 22 60 41 73</a>
        </div>
      </div>
    </div>
    <app-contactform></app-contactform>
  </div>
</section>

<section class="mobile" id="contact-mobile">
  <div class="headline">
    <h1 class="fontAnta">{{ texts.headline[activeLang] }}</h1>
  </div>
  <div class="fontJosefin form-box">
    <div class="contact-info">
      <div class="flex-16">
        <div
          class="contact-box"
          (click)="setActive('mail')"
          [class.active]="activeItem === 'mail'"
        >
          <img
            class="contact-icon"
            [src]="
              activeItem === 'mail'
                ? 'assets/img/mail_active.png'
                : 'assets/img/contact_mail.png'
            "
          />
          <a href="mailto:davidhannemanndev@gmail.com">E-Mail: davidhannemanndev&#64;gmail.com</a>
        </div>
        <div
          class="contact-box"
          (click)="setActive('phone')"
          [class.active]="activeItem === 'phone'"
        >
          <img
            class="contact-icon"
            [src]="
              activeItem === 'phone'
                ? 'assets/img/phone_active.png'
                : 'assets/img/contact_phone.png'
            "
          />
          <a href="tel:+491522604173">Tel: 0151 22 60 41 73</a>
        </div>
      </div>
    </div>
    <div class="contact-motive">
      <p>
        {{ texts.motive[activeLang] }}
      </p>
      <span>{{ texts.team[activeLang] }}</span>
    </div>
    <app-contactform></app-contactform>
    <div class="arrow-mobile">
      <img (click)="scrollTo('landing-mobile')" src="assets/img/arrow_up.png" alt="" />
    </div>
  </div>
</section>
