.desktop {
  background: #262e34;
  padding-top: 124px;
  padding-bottom: 124px;
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .headline {
    height: 128px;
    > h1 {
      font-size: 60px;
      font-weight: 400;
      color: #89bcd9;
      cursor: default;
    }
    > img {
      top: -48px;
      position: relative;
      left: 768px;
      &:hover {
        cursor: pointer;
        background-color: #f8f5ec1f;
        border-radius: 25px;
      }
    }
  }
}

.mobile {
  display: none;
}

.form-box {
  width: 911px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: #f8f5ec;
}

.contact-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  > .contact-icon {
    display: block;
    position: relative;
    z-index: 1;
  }

  > .contact-icon.default.hidden {
    opacity: 0;
  }

  > .contact-icon.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }

  > .contact-icon.hover-img.visible {
    opacity: 1;
  }

  > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #f8f5ec;
  }
  &:hover > a {
    color: #89bcd9;
  }
}

.contact-info {
  display: flex;
  gap: 36px;
  > .contact-motive {
    width: 429px;
    cursor: default;
  }
}

.flex-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.phone {
  width: 222px;
}

@media (max-width: 1350px) {
  .desktop {
    > .headline {
      > img {
        top: -40px;
        left: 700px;
      }
    }
  }
}

@media (max-width: 1165px) {
  .desktop {
    > .headline {
      > img {
        top: -35px;
        left: 630px;
      }
    }
  }
}

@media (max-width: 1025px) {
  .desktop {
    > .headline {
      > img {
        top: -32px;
        left: 580px;
      }
    }
  }
}

@media (max-width: 940px) {
  .desktop {
    > .headline {
      > img {
        top: -48px;
        left: 510px;
      }
    }
  }

  .form-box {
    width: auto;
  }

  .contact-info {
    flex-direction: column-reverse;
    > .contact-motive {
      width: 100%;
    }
  }

  .flex-16 {
    flex-direction: column-reverse;
  }

  .form-box {
    padding: 0px 16px;
  }
}

@media (max-width: 860px) {
  .desktop {
    > .headline {
      > img {
        top: -48px;
        left: 450px;
      }
    }
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    background: #262e34;
    padding-top: 64px;
    padding-bottom: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .headline {
      height: 128px;
      > h1 {
        font-size: 60px;
        font-weight: 400;
        color: #89bcd9;
        cursor: default;
      }
    }
  }

  .contact-motive {
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: default;
    > span {
      text-align: center;
      color: #89bcd9;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .contact-box {
    cursor: default;
    > a {
      &:hover {
        color: #f8f5ec;
        cursor: default;
      }
    }
    &:hover > a {
      color: #f8f5ec;
      cursor: default;
    }
  }

  .contact-box.active a {
    color: #89bcd9;
  }

  .form-box {
    > .arrow-mobile {
      display: flex;
      justify-content: center;
      padding-top: 48px;
      > img {
        cursor: pointer;
        width: 30px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 420px) {
  .mobile {
    > .headline {
      > h1 {
        font-size: 32px;
      }
    }
  }

  .contact-box {
    gap: 8px;
    > .contact-icon {
      height: 28px;
    }
    > a {
      font-size: 16px;
    }
  }
}
