<section class="desktop">
  <div class="fontJosefin header_box">
    <div (click)="scrollTo('landing')" class="logo">
      <img src="/assets/img/logo_header.png" alt="" />
      <span class="fontAnta name">D.Hannemann</span>
      <span class="job">developer</span>
    </div>
    <nav>
      <a
        (click)="scrollTo('why-me')"
        [class.active]="isMainPage && activeSection === 'why-me'"
        >{{ texts.why[activeLang] }}</a
      >
      <a
        (click)="scrollTo('skills')"
        [class.active]="isMainPage && activeSection === 'skills'"
        >{{ texts.skill[activeLang] }}</a
      >
      <a
        (click)="scrollTo('projects')"
        [class.active]="isMainPage && activeSection === 'projects'"
        >{{ texts.project[activeLang] }}</a
      >
      <a
        (click)="scrollTo('contact')"
        [class.active]="isMainPage && activeSection === 'contact'"
        >{{ texts.contact[activeLang] }}</a
      >
    </nav>
    <div class="switch">
      <span (click)="switchLang('DE')" [class.active]="activeLang === 'DE'"
        >DE</span
      >
      <span (click)="switchLang('EN')" [class.active]="activeLang === 'EN'"
        >EN</span
      >
    </div>
  </div>
</section>

<section class="mobile">
  <div class="top-box" [class.fixed]="headerFixed">
    <div (click)="scrollTo('landing-mobile')" class="logo">
      <img
        [src]="
          headerFixed
            ? 'assets/img/logo_header.png'
            : 'assets/img/logo_default.png'
        "
        alt="Logo"
      />
      <span class="fontAnta name">D.Hannemann</span>
      <span
        class="job"
        [ngStyle]="{
          color: headerFixed ? '#262e34' : '#89bcd9'
        }"
        >developer</span
      >
    </div>
    <div
      class="burger-container"
      (mouseenter)="burgerHover = true"
      (mouseleave)="burgerHover = false"
    >
      <img
        *ngIf="!headerVisible"
        class="burger default"
        src="assets/img/burger_default.png"
        [class.hidden]="burgerHover"
        [class.filtered]="headerFixed"
      />
      <img
        *ngIf="!headerVisible"
        (click)="toggleHeader()"
        class="burger hover-img"
        src="assets/img/burger_hover.png"
        [class.visible]="burgerHover"
        [class.filtered]="headerFixed"
      />
      <img
        *ngIf="headerVisible"
        class="burger default"
        src="assets/img/burger_close.png"
        [class.hidden]="burgerHover"
        [class.filtered]="headerFixed"
      />
      <img
        *ngIf="headerVisible"
        (click)="toggleHeader()"
        class="burger hover-img"
        src="assets/img/burger_close_hover.png"
        [class.visible]="burgerHover"
        [class.filtered]="headerFixed"
      />
    </div>
  </div>

  <div *ngIf="headerVisible" class="mobile-overlay" (click)="closeHeader()">
    <img src="/assets/img/overlay.png" alt="Overlay" class="overlay-bg" />
    <div class="overlay-content" (click)="$event.stopPropagation()">
      <div class="burger-box fontJosefin">
        <nav>
          <a (click)="onLinkClick('why-me')">{{ texts.why[activeLang] }}</a>
          <a (click)="onLinkClick('skills')">{{ texts.skill[activeLang] }}</a>
          <a (click)="onLinkClick('projects')">{{
            texts.project[activeLang]
          }}</a>
          <a (click)="onLinkClick('contact-mobile')">{{
            texts.contact[activeLang]
          }}</a>
        </nav>
        <div class="switch">
          <span (click)="switchLang('DE')" [class.active]="activeLang === 'DE'"
            >DE</span
          >
          <span (click)="switchLang('EN')" [class.active]="activeLang === 'EN'"
            >EN</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
