section {
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
  background-color: #89bcd9;
}

.header_box {
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 109px;
  gap: 196px;
  > .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    > img {
      width: 52px;
      height: 38px;
    }
    > .name {
      color: #f8f5ec;
      font-size: 14px;
    }
    > .job {
      color: #262e34;
      font-weight: 300;
    }
  }
}

nav {
  width: 677px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 500;
  > a {
    text-decoration: none;
    color: #262e34;
    &:hover {
      color: #f8f5ec;
      cursor: pointer;
    }
    &.active::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 83.79946917693911px;
      height: 56.155742767760685px;
      background-image: url("/assets/img/header_bg.png");
      background-size: cover;
      background-position: center;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &.active {
      z-index: 4;
      position: relative;
      color: #f8f5ec;
      cursor: default;
    }
  }
}

.switch {
  width: 92px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
  > span {
    position: relative;
    cursor: pointer;
    transition: color 0.5s ease 0.1s;
    &:hover {
      color: #f8f5ec;
    }
    &.active::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 37px;
      height: 24px;
      background-image: url("/assets/img/language_bg.png");
      background-size: cover;
      background-position: center;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &.active {
      z-index: 2;
      color: #f8f5ec;
      cursor: default;
    }
  }
}
