*,
*::before,
*::after {
  box-sizing: border-box;
}

.desktop {
  background: #262e34;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;
  > h4 {
    font-size: 32px;
    font-weight: 400;
    color: #89bcd9;
    padding-top: 124px;
    cursor: default;
  }
}

.desktop-bubble-wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden; 
}

.mobile {
  display: none;
}

@media (max-width: 940px) {
  .desktop {
    > h4 {
      padding-top: 124px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    background: #262e34;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 24px;
    > .headline {
      display: flex;
      flex-direction: column;
      padding-bottom: 32px;
      gap: 12px;
      cursor: default;
      > h4 {
        color: #89bcd9;
        font-size: 32px;
        font-weight: 400;
      }
      > span {
        color: #f8f5ec;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
