<section>
  <h1 class="fontAnta">Why me</h1>
  <div class="flexbox">
<div class="writer-line">
  <img [src]="lines[currentIndex].icon" class="icon" [class.fade]="!showIcon"/>
  <span class="fontJosefin mr-8" #prefixEl></span>
  <span class="fontJosefin highlight mr-8" #middleEl></span>
  <span class="fontJosefin" #suffixEl></span>
</div>

    <div class="motivation">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim
        repellat quas totam nulla similique ipsam ea ipsa laborum officiis sit
        corporis in reiciendis animi rem quae magni, perspiciatis tempore?
      </p>
    </div>
  </div>
</section>
