.writer-line {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

.icon {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  &.fade {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

section{
    margin-top: 120px;
    background: #262e34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    > h1{
        font-size: 60px;
        font-weight: 400;
        color: #89bcd9;
        padding-top: 124px;
    }
}

.flexbox {
    width: 860px;
    display: flex;
    justify-content: space-between;
}

.motivation{
    width: 379px;
    gap: 24px;
}