<section id="why-me">
  <h1 data-aos="fade-right" class="fontAnta">{{ texts.headline[activeLang] }}</h1>
  <div class="flexbox">
    <div class="writer-line">
      <img
        [src]="lines[currentIndex].icon"
        class="icon"
        [class.fade]="!showIcon"
      />
      <span class="fontJosefin mr-8" #prefixEl></span>
      <span class="fontJosefin highlight mr-8" #middleEl></span>
      <span class="fontJosefin" #suffixEl></span>
    </div>

    <div class="motivation">
      <p class="fontJosefin text-whyme" [innerHTML]="texts.passion[activeLang]">
      </p>
      <div data-aos="fade-left" class="talk-box"><button (click)="scrollTo('contact')" [innerHTML]="texts.button[activeLang]"></button></div>
    </div>
  </div>
</section>
