<div class="container fontJosefin">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="contact-data">
      <div class="contact-data-single">
        <input
          class="fontJosefin"
          type="text"
          id="name"
          name="name"
          [placeholder]="
            isMobile
              ? nameInput.invalid && nameInput.touched
                ? texts.nameError[activeLang]
                : texts.name[activeLang]
              : ''
          "
          required
          [(ngModel)]="formData.name"
          #nameInput="ngModel"
          [ngClass]="{
            'error-border': nameInput.invalid && nameInput.touched,
            'error-placeholder':
              isMobile && nameInput.invalid && nameInput.touched
          }"
        />
        @if (!isMobile) { @if (nameInput.invalid && nameInput.touched) {
        <p class="error">{{ texts.nameError[activeLang] }}</p>
        } @else {
        <label for="name">{{ texts.name[activeLang] }}</label>
        } }
        <img
          *ngIf="nameInput.valid && nameInput.touched"
          src="assets/img/done.png"
          class="valid-icon"
        />
      </div>
      <div class="contact-data-single">
        <input
          class="fontJosefin"
          type="email"
          id="email"
          name="email"
          [placeholder]="
            isMobile
              ? emailInput.invalid && emailInput.touched
                ? texts.mailError[activeLang]
                : texts.mail[activeLang]
              : ''
          "
          required
          [(ngModel)]="formData.email"
          #emailInput="ngModel"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [ngClass]="{
            'error-border': emailInput.invalid && emailInput.touched,
            'error-placeholder':
              isMobile && emailInput.invalid && emailInput.touched
          }"
        />
        @if (!isMobile) { @if (emailInput.invalid && emailInput.touched) {
        <p class="error">{{ texts.mailError[activeLang] }}</p>
        } @else {
        <label for="email">{{ texts.mail[activeLang] }}</label>
        } }
        <img
          *ngIf="emailInput.valid && emailInput.touched"
          src="assets/img/done.png"
          class="valid-icon"
        />
      </div>
    </div>

    <div class="contact-message">
      @if (!isMobile) { @if (messageInput.invalid && messageInput.touched) {
      <p class="error">{{ texts.messageError[activeLang] }}</p>
      } @else {
      <label for="email">{{ texts.message[activeLang] }}</label>
      } }
      <textarea
        class="fontJosefin"
        minlength="3"
        id="message"
        name="message"
        [placeholder]="
          isMobile
            ? messageInput.invalid && messageInput.touched
              ? texts.messageError[activeLang]
              : texts.message[activeLang]
            : ''
        "
        required
        [(ngModel)]="formData.message"
        #messageInput="ngModel"
        [ngClass]="{
          'error-border': messageInput.invalid && messageInput.touched,
          'error-placeholder':
            isMobile && messageInput.invalid && messageInput.touched
        }"
      ></textarea>
      <img
        *ngIf="messageInput.valid && messageInput.touched"
        src="assets/img/done.png"
        class="valid-icon"
      />
    </div>
    <div class="privacy-policy">
      <div
        class="policy-box"
        (mouseenter)="policyHover = true"
        (mouseleave)="policyHover = false"
        (click)="togglePolicy()"
      >
        <img
          *ngIf="!policyClicked && !policyHover && !policyTouched"
          src="assets/img/check_default.png"
          class="policy-check"
        />
        <img
          *ngIf="policyHover && !policyClicked && !policyTouched"
          src="assets/img/check_hover.png"
          class="policy-check"
        />
        <img
          *ngIf="policyClicked"
          src="assets/img/check_ready.png"
          class="policy-check"
        />
        <img
          *ngIf="!policyClicked && policyTouched"
          src="assets/img/check_error.png"
          class="policy-check"
        />
      </div>
      <div class="policy-text-container">
        <p>
          {{ texts.policyPre[activeLang] }}
        </p>
        <a href="">{{ texts.policy[activeLang] }}</a>
        <p>{{ texts.policySuf[activeLang] }}</p>
        <p *ngIf="!policyClicked && policyTouched" class="policy-text-error">
          {{ texts.policyError[activeLang] }}
        </p>
      </div>
    </div>
    <div class="submit-button">
      <input
        type="submit"
        value="Send"
        [disabled]="!contactForm.valid || !policyClicked"
        [class.active]="contactForm.valid && policyClicked"
      />
    </div>
  </form>
</div>
