<div class="container fontJosefin">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="contact-data">
      <div class="contact-data-single">
        <input
          type="text"
          id="name"
          name="name"
          placeholder=""
          required
          [(ngModel)]="formData.name"
          #nameInput="ngModel"
          [ngClass]="{
            'error-border': nameInput.invalid && nameInput.touched
          }"
        />
        @if (nameInput.invalid && nameInput.touched) {
        <p class="error">Your name is required</p>
        } @else {
        <label for="name">Your name</label>
        }
        <img
          *ngIf="nameInput.valid && nameInput.touched"
          src="assets/img/done.png"
          class="valid-icon"
        />
      </div>
      <div class="contact-data-single">
        <input
          type="email"
          id="email"
          name="email"
          placeholder=""
          required
          [(ngModel)]="formData.email"
          #emailInput="ngModel"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [ngClass]="{
            'error-border': emailInput.invalid && emailInput.touched
          }"
        />
        @if (emailInput.invalid && emailInput.touched) {
        <p class="error">Your Email is required</p>
        } @else {
        <label for="email">Your Email</label>
        }
        <img
          *ngIf="emailInput.valid && emailInput.touched"
          src="assets/img/done.png"
          class="valid-icon"
        />
      </div>
    </div>

    <div class="contact-message">
      @if (messageInput.invalid && messageInput.touched) {
      <p class="error">Your Message is requred</p>
      } @else {
      <label for="message">Your Message</label>
      }
      <textarea
        class="fontJosefin"
        id="message"
        name="message"
        placeholder=""
        required
        [(ngModel)]="formData.message"
        #messageInput="ngModel"
        [ngClass]="{
          'error-border': messageInput.invalid && messageInput.touched
        }"
      ></textarea>
      <img
        *ngIf="messageInput.valid && messageInput.touched"
        src="assets/img/done.png"
        class="valid-icon"
      />
    </div>
    <div class="privacy-policy">
      <div
        class="policy-box"
        (mouseenter)="policyHover = true"
        (mouseleave)="policyHover = false"
        (click)="policyClicked = !policyClicked"
      >
        <img
          class="policy-check default"
          src="assets/img/check_default.png"
          [class.hidden]="policyHover || policyClicked"
        />
        <img
          class="policy-check hover-img"
          src="assets/img/check_hover.png"
          [class.visible]="policyHover && !policyClicked"
        />
        <img
          class="policy-check ready"
          src="assets/img/check_ready.png"
          *ngIf="policyClicked"
        />
      </div>
      <p>
        I've read the <a href="">privacy policy</a> and agree to the processing
        of my data as outlined.
      </p>
    </div>
    <div class="submit-button">
      <input type="submit" value="Send" [disabled]="" />
    </div>
  </form>
</div>
