.icon-box {
  display: flex;
  gap: 24px;
  width: 690px;
  color: #f8f5ec;
  > .list-icon {
    width: 29px;
    height: 26px;
  }
}

.icon-box-mobile {
  display: none;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > h3 {
    font-size: 28px;
    font-weight: 400;
  }
  > span {
    font-size: 18px;
  }

  > p {
    font-size: 18px;
  }
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 64px;
  padding-top: 24px;
  > .live {
    text-decoration: none;
    background-color: #89bcd9;
    color: #262e34;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.7s ease-out;
    &:active {
      background-color: #f8f5ec;
      transition: background-color 0s;
    }
  }
  > .github {
    text-decoration: none;
    background-color: #262e34;
    border: 2px solid #89bcd9;
    color: #89bcd9;
    border-radius: 30px;
    padding: 13px 30px;
    cursor: pointer;
    transition: background-color 0.4s ease-out;
    &:active {
      background-color: #f8f5ec1f;
      transition: background-color 0s;
    }
  }
}

@media (max-width: 1200px) {
  .icon-box {
    width: 600px;
  }
}

@media (max-width: 1090px) {
  .icon-box {
    width: 510px;
  }
}

@media (max-width: 915px) {
  .icon-box {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .icon-box {
    display: none;
  }

  .icon-box-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: default;
    > .headline-mobile {
      display: flex;
      align-items: center;
      gap: 16px;
      > h3 {
        color: #89bcd9;
        font-size: 24px;
        font-weight: 400;
      }
    }
    > .text-box-mobile {
      color: #f8f5ec;
    }
  }
}

@media (max-width: 360px) {
  .project-buttons {
    > .live {
      padding: 10px 20px;
    }
    > .github {
      padding: 10px 20px;
    }
  }
}
