.desktop {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  display: none;
}

.feedback-container {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: default;
  > .feedback {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  > .feedback.default.hidden {
    opacity: 0;
  }
  > .feedback.hover-img {
    opacity: 0;
    z-index: 2;
    transform: rotate(20deg);
    object-fit: contain;
  }
  > .feedback.hover-img.visible {
    opacity: 1;
  }
}

.feedback-box {
  position: absolute;
  top: 75px;
  left: 50px;
  width: 314.28570556640625px;
  height: 250.65274047851562px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  text-align: center;
  > .feedback-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > h4 {
      font-size: 26px;
      font-weight: 600;
      color: #f8f5ec;
    }
    > span {
      font-size: 18px;
      font-weight: 400;
      color: #f8f5ec;
      > .project {
        color: #89bcd9;
      }
    }
  }
}

.feedback-text {
  width: 292px;
  height: 121px;
  > p {
    font-size: 18px;
    color: #f8f5ec;
    font-weight: 400;
  }
}

a {
  color: #89bcd9;
  font-size: 16px;
  font-weight: 400;
  z-index: 99;
  &:hover {
    cursor: pointer;
    color: #f8f5ec;
  }
}

@media (max-width: 1350px) {
  .feedback-container {
    width: 370px;
    height: 370px;
  }

  .feedback-box {
    left: 30px;
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 1255px) {
  .feedback-container {
    width: 340px;
    height: 340px;
  }

  .feedback-box {
    top: 50px;
    left: 25px;
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 1165px) {
  .feedback-container {
    width: 310px;
    height: 310px;
  }

  .feedback-box {
    width: 260px;
    height: 210px;
  }
}

@media (max-width: 1055px) {
  .feedback-container {
    width: 290px;
    height: 290px;
  }

  .feedback-box {
    width: 240px;
    height: 190px;
  }
}

@media (max-width: 990px) {
  .desktop {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;

    .feedback-container {
      flex: 0 0 auto;
      scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .feedback-container {
    > .feedback {
      transform: rotate(215deg);
    }
  }

  .feedback-box {
    > .feedback-header {
      > h4 {
        font-size: 24px;
        font-weight: 600;
        color: #f8f5ec;
      }
    }
  }

  .feedback-text {
    width: 250px;
    height: 124px;
    > p {
      font-size: 16px;
    }
  }
}
