<section class="desktop">
  <div
    *ngFor="let feedback of feedbackData; let i = index"
    class="feedback-container"
    (mouseenter)="hoverIndex = i"
    (mouseleave)="hoverIndex = null"
  >
    <img
      class="feedback default"
      src="assets/img/feedback.png"
      [class.hidden]="hoverIndex === i"
    />
    <img
      class="feedback hover-img"
      src="assets/img/feedback_hover.png"
      [class.visible]="hoverIndex === i"
    />
    <div class="fontJosefin feedback-box">
      <div class="feedback-header">
        <h4>{{ feedback.name }}</h4>
        <span
          >{{ feedback.text[activeLang].class }} <span class="project"> {{ feedback.text[activeLang].project }} </span></span
        >
      </div>
      <div class="feedback-text">
        <p>"{{ feedback.text[activeLang].message }}"</p>
      </div>
      <a [href]="feedback.linkedin" target="_blank">Linked In Profile</a>
    </div>
  </div>
</section>

<section class="mobile">
  <div
    *ngFor="let feedback of feedbackData; let i = index"
    class="feedback-container"
  >
    <img
      class="feedback default"
      src="assets/img/feedback.png"
    />
    <div class="fontJosefin feedback-box">
      <div class="feedback-header">
        <h4>{{ feedback.name }}</h4>
        <span
          >{{ feedback.text[activeLang].class }} <span class="project"> {{ feedback.text[activeLang].project }} </span></span
        >
      </div>
      <div class="feedback-text">
        <p>"{{ feedback.text[activeLang].message }}"</p>
      </div>
      <a [href]="feedback.linkedin" target="_blank">Linked In Profile</a>
    </div>
  </div>
</section>
