<section id="projects">
  <h1 class="fontAnta">{{ texts.headline[activeLang] }}</h1>
  <div class="full">
    <app-menubar
      [projects]="projects"
      (projectSelected)="onProjectSelected($event)"
      [activeProject]="selectedProject"
    ></app-menubar>
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="flexbox-projects"
    >
      <div class="left-side">
        <app-about [project]="selectedProject"></app-about>
        <app-organise [project]="selectedProject"></app-organise>
        <app-experience [project]="selectedProject"></app-experience>
      </div>
      <div>
        <app-display [project]="selectedProject"></app-display>
      </div>
    </div>
  </div>
</section>
