.main-header {
  position: relative;
  width: 100%;
}

.main-header.main-page {
  position: absolute;
  bottom: 0;
}

.main-header.main-page.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 1000;
}

@media (max-width: 768px) {
  .main-header {
    position: absolute;
    top: 178px;
    width: 100%;
    bottom: auto;
  }

  .main-header.fixed {
    position: absolute;
    top: 178px;
    bottom: auto;
    z-index: 1000;
  }
}

@media (max-width: 460px) {
  .main-header {
    top: 92px;
  }

  .main-header.fixed {
    top: 92px;
  }
}
