.main-header {
  position: relative;
  width: 100%;
}

.main-header.main-page {
  position: absolute;
  bottom: 0;
}

.main-header.main-page.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 1000;
}

@media (max-width: 768px) {
  .main-header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main-header.fixed {
    position: fixed;
    top: 0px;
    bottom: auto;
    z-index: 1000;
  }
}