.desktop {
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
  background: #262e34;
  display: flex;
  flex-direction: column;
  cursor: default;
  > div {
    padding-top: 64px;
    padding-left: 200px;
    > img {
      display: none;
    }
    > h1 {
      color: #89bcd9;
      font-weight: 400;
      font-size: 54px;
    }
  }
}

.policy-box {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 150px;
  gap: 24px;
  padding-bottom: 124px;
  > h2 {
    color: #89bcd9;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 16px;
  }
  > h3 {
    color: #89bcd9;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
  }
  > ul {
    color: #f8f5ec;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    > li {
      > a {
        text-decoration: none;
        color: #89bcd9;
      }
      > p {
        > a {
          text-decoration: none;
          color: #89bcd9;
        }
      }
    }
  }
  > h4 {
    color: #89bcd9;
    font-size: 19px;
    font-weight: 700;
  }
  > span {
    color: #f8f5ec;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }
  > p {
    color: #f8f5ec;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    > span {
      color: #89bcd9;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
    }
    > a {
      text-decoration: none;
      color: #89bcd9;
    }
  }
  > span {
    color: #f8f5ec;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }
}

.m-elements li a {
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;
  display: inline-block;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .desktop {
    > div {
      padding-left: 150px;
    }
  }
  .policy-box {
    padding-left: 150px;
    padding-right: 125px;
  }
}

@media (max-width: 1000px) {
  .desktop {
    > div {
      padding-left: 100px;
    }
  }
  .policy-box {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .desktop {
    padding-top: 64px;
    > div {
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 32px;
      > img {
        display: flex;
        margin-top: 24px;
      }
    }
  }
  .policy-box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 640px) {
  .desktop {
    > div {
      > h1 {
        font-size: 26px;
      }
    }
  }

  .policy-box {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 150px;
    gap: 24px;
    padding-bottom: 124px;
    > h2 {
      color: #89bcd9;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 16px;
    }
    > h3 {
      color: #89bcd9;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 16px;
    }
    > h4 {
      color: #89bcd9;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

@media (max-width: 600px) {
  .desktop {
    > div {
      padding-left: 30px;
    }
  }
  .policy-box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .desktop {
    > div {
      padding-left: 16px;
    }
  }
  .policy-box {
    padding-left: 16px;
    padding-right: 16px;
  }
}
