<div class="icon-box fontJosefin" *ngIf="projectData[project]">
  <img class="list-icon" src="assets/img/list_marker.png" alt="" />
  <div class="text-box">
    <div class="head">
      <h3>
        {{ activeLang === "DE" ? "Über das Projekt" : "About the Project" }}
      </h3>
      <span class="duration-desktop" *ngIf="projectData[project].duration"
        >Duration: {{ projectData[project].duration[activeLang] }}</span
      >
    </div>
    <p>
      {{ projectData[project].text[activeLang] }}
    </p>
  </div>
</div>

<div class="icon-box-mobile fontJosefin" *ngIf="projectData[project]">
  <div class="headline-mobile">
    <img class="list-icon" src="assets/img/list_marker.png" alt="" />
    <h3>
      {{ activeLang === "DE" ? "Über das Projekt" : "About the Project" }}
    </h3>
  </div>

  <div class="text-box-mobile">
    <p>
      {{ projectData[project].text[activeLang] }}
    </p>
  </div>
</div>
