<div class="icon-box fontJosefin">
  <img class="list-icon" src="assets/img/list_marker.png" alt="" />
  <div class="text-box">
    <div class="head">
      <h3>About the Project</h3>
      <span>Duration</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nam
      omnis ex voluptas placeat eveniet nisi, saepe excepturi libero molestiae
      quae? Modi excepturi provident quos maxime totam adipisci delectus
      aspernatur.
    </p>
  </div>
</div>
