<section class="fontJosefin desktop">
  <div class="footer-box">
    <div class="legal-notice">
      <a routerLink="/legal">{{ texts.legal[activeLang] }}</a>
      <span>© 2025 David Hannemann</span>
    </div>
    <div class="logo">
      <img src="/assets/img/logo_header.png" alt="" />
      <span class="fontAnta name">D.Hannemann</span>
      <span class="job">developer</span>
    </div>
    <div class="social">
      <a href="https://github.com/DaveHannemann" target="_blank">
        <img src="assets/img/github_bot.png" alt=""
      /></a>
      <a href="mailto:davidhannemanndev@gmail.com"> <img src="assets/img/mail_bot.png" alt="" /></a>
      <a href="https://www.linkedin.com/in/david-hannemann-8698b636a/" target="_blank">
        <img src="assets/img/linked_bot.png" alt=""
      /></a>
    </div>
  </div>
</section>

<section class="fontJosefin mobile">
  <div class="footer-box">
    <div class="logo">
      <img src="/assets/img/logo_header.png" alt="" />
      <span class="fontAnta name">D.Hannemann</span>
      <span class="job">developer</span>
    </div>
    <div class="social">
      <a
        *ngFor="let icon of socialIcons"
        [href]="icon.link"
        target="_blank"
        (click)="activateIcon(icon)"
        (mouseenter)="onHover(icon)"
        (mouseleave)="onLeave(icon)"
      >
        <img [src]="icon.current" alt="" />
      </a>
    </div>
    <div class="legal-notice">
      <a routerLink="/legal">{{ texts.legal[activeLang] }}</a>
      <span>© 2025 David Hannemann</span>
    </div>
  </div>
</section>
