<section class="fontJosefin">
  <div class="footer-box">
    <div class="legal-notice">
      <a href="">Legal Notice</a> <span>© 2025 David Hannemann</span>
    </div>
    <div class="logo">
      <img src="/assets/img/logo_header.png" alt="" />
      <span class="fontAnta name">D.Hannemann</span>
      <span class="job">developer</span>
    </div>
    <div class="social">
      <a href=""> <img src="assets/img/github_bot.png" alt="" /></a>
      <a href=""> <img src="assets/img/mail_bot.png" alt="" /></a>
      <a href=""> <img src="assets/img/linked_bot.png" alt="" /></a>
    </div>
  </div>
</section>
