.desktop {
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
  background: #262e34;
  display: flex;
  flex-direction: column;
  gap: 64px;
  cursor: default;
  > h1 {
    padding-top: 64px;
    padding-left: 200px;
    color: #89bcd9;
    font-weight: 400;
    font-size: 54px;
  }
}

.legal-box {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 150px;
  gap: 24px;
  padding-bottom: 124px;
  > div {
    > h3 {
      color: #89bcd9;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 16px;
    }
    > ul {
      color: #f8f5ec;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
    }
    > h4 {
      color: #89bcd9;
      font-size: 19px;
      font-weight: 700;
    }
    > span {
      color: #f8f5ec;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
    }
    > p {
      color: #f8f5ec;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0;
      > span {
        color: #89bcd9;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0;
      }
    }
  }
  > span {
    color: #f8f5ec;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
  }
}

@media (max-width: 1200px) {
  .desktop {
    > h1 {
      padding-left: 150px;
    }
  }
  .legal-box {
    padding-left: 150px;
    padding-right: 125px;
  }
}

@media (max-width: 1000px) {
  .desktop {
    > h1 {
      padding-left: 100px;
    }
  }
  .legal-box {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .desktop {
    > h1 {
      padding-left: 50px;
    }
  }
  .legal-box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .desktop {
    > h1 {
      padding-left: 30px;
    }
  }
  .legal-box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .desktop {
    > h1 {
      padding-left: 16px;
    }
  }
  .legal-box {
    padding-left: 16px;
    padding-right: 16px;
  }
}
