<section class="desktop">
  <div>
    <img (click)="goBack()" src="/assets/img/back_arrow.png" alt="" />
    <h1 class="fontAnta">{{ texts.headline[activeLang] }}</h1>
  </div>

  <div class="legal-box fontJosefin">
    <div>
      <h3>{{ texts.imprint[activeLang] }}</h3>
      <ul>
        <li>David Hannemann</li>
        <li>Friedrich-Ebert-Straße 67</li>
        <li>38259 Salzgitter</li>
      </ul>
    </div>
    <div>
      <h4>{{ texts.board[activeLang] }}</h4>
      <span>Email: davidhannemanndev&#64;gmail.com</span>
    </div>
    <div>
      <h4>{{ texts.terms[activeLang] }}</h4>
      <p>
        {{ texts.termsTextPre[activeLang] }}
        <span>Portfolio</span>{{ texts.termsTextSuf[activeLang] }}
      </p>
    </div>
    <div>
      <h4>{{ texts.scope[activeLang] }}</h4>
      <p>
        <span>Portfolio</span> {{ texts.scopeTextFirst[activeLang] }}
        <span>Developer Akademie GmbH</span
        >{{ texts.scopeTextSecond[activeLang] }}
        <br />
        {{ texts.scopeTextThird[activeLang] }}
        <span>Portfolio</span> {{ texts.scopeTextFourth[activeLang] }}
        <span>Developer Akademie GmbH</span
        >{{ texts.scopeTextFifth[activeLang] }}
      </p>
    </div>
    <div>
      <h4>{{ texts.proprietary[activeLang] }}</h4>
      <p>
        {{ texts.proprietaryPre[activeLang]
        }}<span>Developer Akademie GmbH</span
        >{{ texts.proprietaryMid[activeLang] }} <span>Portfolio</span
        >{{ texts.proprietarySuf[activeLang] }}
      </p>
    </div>
    <div>
      <h4>{{ texts.use[activeLang] }}</h4>
      <p>
        <span>Portfolio</span>{{ texts.usePre[activeLang] }}
        <span>Portfolio</span>{{ texts.useMid[activeLang] }}
        <span>Portfolio</span>{{ texts.useSuf[activeLang] }}
      </p>
    </div>
    <div>
      <h4>{{ texts.disclaimer[activeLang] }}</h4>
      <p>
        <span>Portfolio</span>{{ texts.disclaimerPre[activeLang] }}
        <span>Developer Akademie</span>{{ texts.disclaimerMid[activeLang]
        }}<span>Portfolio</span>{{ texts.disclaimerSuf[activeLang] }}
      </p>
    </div>
    <div>
      <h4>{{ texts.indemnity[activeLang] }}</h4>
      <p>
        {{ texts.indemnityPre[activeLang] }}<span>Developer Akademie</span
        >{{ texts.indemnityMid[activeLang] }} <span>Portfolio</span
        >{{ texts.indemnitySuf[activeLang] }}
      </p>
    </div>
    <span
      >{{ texts.contact[activeLang] }} davidhannemanndev&#64;gmail.com.</span
    >
    <span>{{ texts.date[activeLang] }}</span>
  </div>
</section>
