section {
  background: #262e34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  > h1 {
    font-size: 60px;
    font-weight: 400;
    color: #89bcd9;
    padding-top: 124px;
    cursor: default;
  }
}

h4 {
  display: none;
}

.flexbox {
  width: 869px;
  display: flex;
  justify-content: space-between;
}

.flexbox-mobile {
  display: none;
}

.skillset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 409px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  gap: 8px;
  cursor: default;
  > img {
    height: 50px;
    width: 50px;
  }
  > span {
    color: #89bcd9;
    font-size: 16px;
    font-weight: 400;
  }
}

.learning-container {
  position: relative;
  width: 380px;
  height: 380px;
  > .learning {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  > .learning.default.hidden {
    opacity: 0;
  }
  > .learning.hover-img {
    opacity: 0;
    z-index: 2;
    transform: rotate(345deg);
    object-fit: contain;
  }
  > .learning.hover-img.visible {
    opacity: 1;
  }
}

.learning-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  color: #f8f5ec;
  gap: 32px;
  > .learning-text {
    font-size: 18px;
    font-weight: 400;
  }
}

.learning-skillset {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 324px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  > .icon-learn {
    width: 32px;
    height: 32px;
  }
  > .icon-text {
    font-size: 16px;
    font-weight: 400;
  }
}

.skill-row:nth-child(1) {
  display: flex;
  gap: 40px;
}

.skill-row:nth-child(2) {
  display: flex;
  gap: 40px;
}

.skill-row:nth-child(3) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.mobile-talk {
  display: none;
}

@media (max-width: 970px) {
  .flexbox {
    width: 810px;
  }
}

@media (max-width: 915px) {
  .flexbox {
    width: 760px;
  }
  .learning-container {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 860px) {
  .flexbox {
    width: auto;
  }
  .skill-row:nth-child(1) {
    gap: 35px;
  }

  .skill-row:nth-child(2) {
    gap: 35px;
  }

  .skill-row:nth-child(3) {
    gap: 35px;
  }
}

@media (max-width: 850px) {
  .flexbox {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .skillset {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h4 {
    display: flex;
    color: #89bcd9;
    font-size: 24px;
    cursor: default;
  }

  .flexbox-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .flexbox {
    display: none;
  }

  .mobile-talk {
    display: flex;
    padding: 13px 30px;
    color: #262e34;
    border: none;
    background-color: #89bcd9;
    border-radius: 25px;
    transition: background-color 0.4s ease-out;
    &:active {
      background-color: #f8f5ec;
      transition: background-color 0s;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .learning-container {
    > .learning {
      transform: rotate(90deg);
    }
  }

  .learning-box {
    > .learning-text {
      display: none;
    }
  }

  .skillset {
    flex-direction: column;
    width: 298px;
    gap: 32px;
    > img {
      height: 100px;
      object-fit: contain;
    }
  }

  .skill-line {
    display: flex;
    gap: 40px;
  }

  .learning-skillset {
    width: 280px;
  }
}

@media (max-width: 420px) {
  section {
    > h1 {
      font-size: 32px;
    }
  }

  h4 {
    font-size: 18px;
  }

  .learning-container {
    width: 290px;
    height: 290px;
  }

  .learning-skillset {
    width: 280px;
  }

  .skillset {
    gap: 24px;
  }

  .skill-line {
    gap: 28px;
  }

  section {
    gap: 32px;
  }
}
