<section id="skills">
  <h1 class="fontAnta">{{ texts.headline[activeLang] }}</h1>
  <div class="flexbox">
    <div data-aos="zoom-out" class="skillset">
      <div *ngFor="let column of skillColumns" class="skill-row">
        <div *ngFor="let skill of column" class="skill-item">
          <img [src]="skill.src" [alt]="skill.label" />
          <span class="skill-label fontJosefin">{{ skill.label }}</span>
        </div>
      </div>
    </div>
    <div
      data-aos="zoom-in"
      class="learning-container"
      (mouseenter)="learningHover = true"
      (mouseleave)="learningHover = false"
    >
      <img
        class="learning default"
        src="assets/img/learning.png"
        [class.hidden]="learningHover"
      />
      <img
        class="learning hover-img"
        src="assets/img/learning_hover.png"
        [class.visible]="learningHover"
      />
      <div class="fontJosefin learning-box">
        <span class="learning-text">{{ texts.learning[activeLang] }}</span>
        <div class="learning-skillset">
          <div class="icon-box" *ngFor="let item of learningSkills">
            <img class="icon-learn" [src]="item.src" [alt]="item.label" />
            <span class="icon-text">{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flexbox-mobile">
    <div class="skillset">
      <div *ngFor="let line of skillLines" class="skill-line">
        <img *ngFor="let skill of line" [src]="skill.src" [alt]="skill.label" />
      </div>
    </div>
    <h4 class="fontJosefin">{{ texts.mobile[activeLang] }}</h4>
    <div class="learning-container">
      <img
        class="learning default"
        src="assets/img/learning_bubble_mobile.png"
      />
      <div class="fontJosefin learning-box">
        <span class="learning-text">{{ texts.learning[activeLang] }}</span>
        <div class="learning-skillset">
          <div class="icon-box" *ngFor="let item of learningSkills">
            <img class="icon-learn" [src]="item.src" [alt]="item.label" />
            <span class="icon-text">{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button (click)="scrollTo('contact-mobile')" class="mobile-talk fontJosefin">
    {{ texts.button[activeLang] }}
  </button>
</section>
