<section id="skills">
  <h1 class="fontAnta">My Skills</h1>
  <div class="flexbox">
<div class="skillset">
  <div *ngFor="let column of skillColumns" class="skill-row">
    <img *ngFor="let skill of column" [src]="skill" alt="Skill" />
  </div>
</div>
    <div
      class="learning-container"
      (mouseenter)="learningHover = true"
      (mouseleave)="learningHover = false"
    >
      <img
        class="learning default"
        src="assets/img/learning.png"
        [class.hidden]="learningHover"
      />
      <img
        class="learning hover-img"
        src="assets/img/learning_hover.png"
        [class.visible]="learningHover"
      />
      <div class="fontJosefin learning-box">
        <span class="learning-text">I am currently learning</span>
        <span class="learning-text">or consolidating</span>
        <div class="learning-skillset">
          <div class="icon-box" *ngFor="let item of learningSkills">
            <img class="icon-learn" [src]="item.src" [alt]="item.label" />
            <span class="icon-text">{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
