.desktop {
  padding-left: 86px;
  display: flex;
  gap: 16px;
}

.mobile {
  display: none;
}

button {
  padding: 24px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 30px;
  font-weight: 500;
  color: #89bcd9;
  cursor: pointer;
  border: none;
  background: #262e34;
  transition: all 0.2s ease;
}

button.active {
  background: rgba(137, 188, 217, 0.0705882353);
  color: #f8f5ec;
  cursor: default;
}

@media (max-width: 1200px) {
  .desktop {
    padding-left: 48px;
    display: flex;
    gap: 16px;
  }

  button {
    padding: 20px;
  }
}

@media (max-width: 1140px) {
  .desktop {
    padding-left: 32px;
    display: flex;
    gap: 12px;
  }

  button {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .line {
    display: flex;
  }
}

@media (max-width: 650px) {
  button {
    padding: 8px;
    font-size: 24px;
  }

  .line {
    display: flex;
  }
}

@media (max-width: 475px) {
  .mobile {
    flex-direction: column;
  }

  button {
    padding: 8px;
    font-size: 18px;
  }

  .highlight {
    border-radius: 25px;
  }

  .line {
    display: flex;
  }
}