<div class="icon-box fontJosefin" *ngIf="projectData[project]">
  <img class="list-icon" src="assets/img/list_marker.png" alt="" />
  <div class="text-box" >
      <h3>{{ activeLang === "DE" ? "Wie ich mich organisiert habe" : "How I have organised my work process" }}</h3>
    <p>
      {{ projectData[project].text[activeLang] }}
    </p>
  </div>
</div>

<div class="icon-box-mobile fontJosefin" *ngIf="projectData[project]">
  <div class="headline-mobile">
    <img class="list-icon" src="assets/img/list_marker.png" alt="" />
    <h3>{{ activeLang === "DE" ? "Wie ich mich organisiert habe" : "How I have organised my work process" }}</h3>
  </div>

  <div class="text-box-mobile">
    <p>
      {{ projectData[project].text[activeLang] }}
    </p>
  </div>
</div>